{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Report Generator </title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Sakshi-Aafiya-Hasti Bloggs." />
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body id="top">
    
    <div id="content">
        <p>
            {{event_name}}<br>
            {{event_date}}
            
        </p>
        <p>
            {{How_would_you_summarise_the_event_in_one_line}}
        </p>
        <p>
            {{main_body}}
        </p>
        <p>
            {{Time}}
        <p>
            {{conclusion}}
        </p>
        
    </div>
        
    <style>
         h1 {text-align: center;}
         p {text-align: center;}
         div {text-align: center;}
         
    
    
    </style>
    <script>
        function generatepdf(){
            const element=document.getElementById("content");
            html2pdf()
            .from(element)
            .save();
        }
    </script>
   
   <button onclick="generatepdf()">  download</button>
    
         
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");

        pageTracker._initData();

        pageTracker._trackPageview();
    </script>

</body>

</html>
