{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Report Generator </title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Sakshi-Aafiya-Hasti Bloggs." />
    <meta charset="UTF-8">
    {% comment %} <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body style="background-color: #0093E9; background-image: linear-gradient(90deg, #0093E9 0%, #adede3 100%);">
    <section class= "vh-100" style= "padding-top: 100px; padding-right:50px; padding-left:50px;">
        <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1"style="background-color:white; border-radius: 25px">
                <div class='container' style= "font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; padding-left:40px; padding-top:40px; padding-bottom:20px;">  
                    <div id="content">
                        <p>
                            {{event_name1}}<br>
                            {{event_date1}}    
                        </p>
                        <p>
                            {{introduction1}}
                        </p>
                        <p>
                        {{main_body1}}
                        </p>
                        <p>
                        {{conclusion1}}
                        </p>
                    </div>
                    <button onclick="generatepdf()" style="padding-left:200px; padding-right:200px; background-color: #0093E9;background-image: linear-gradient(90deg, #0093E9 0%, #adede3 100%);">  
                        Download PDF
                    </button>
                </div>
            </div>
        </div>
    </section>                        

   
    <script>
        function generatepdf(){
            const element=document.getElementById("content");
            html2pdf()
            .from(element)
            .save();
        }
    </script>

            


        
    
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");

        pageTracker._initData();

        pageTracker._trackPageview();
    </script>

</body>

</html>
